<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <Configuration>Release</Configuration>
    <Platform>x64</Platform>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishDir>$(MSBuildProjectDirectory)\bin\x64\Release\$(TargetFramework)\win-x64\publish\</PublishDir>
    <PublishUrl>$(MSBuildProjectDirectory)\bin\x64\Release\$(TargetFramework)\win-x64\publish\</PublishUrl>
    <SelfContained>true</SelfContained>
    <PublishSingleFile Condition="'$(PasswordToolReleasePublish)' != 'true'">false</PublishSingleFile>
    <PublishReadyToRun>false</PublishReadyToRun>
    <PublishTrimmed>false</PublishTrimmed>
  </PropertyGroup>
</Project>
